.advantages {
  padding-bottom: 2px;

  @media (min-width: $tablet-width) {
    padding-top: 2px;
    padding-bottom: 26px;
  }
}

.advantages__title {
  margin-top: 27px;
  margin-bottom: 27px;

  @include title();

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;

    @include title($font-size: 60px, $line-height: 60px);
  }
}

.advantages__list {
  list-style: none;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 59px;
    row-gap: 93px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 78px;
  }
}

.advantages__item {
  display: flex;
  align-items: center;
  padding: 13px 0 6px 0;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: start;
    padding: 0 60px 40px 0;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.advantages__item::before {
  content: "";
  display: block;
  flex-shrink: 0;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  background-color: $theme-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    width: 80px;
    height: 80px;
  }
}
