.big-text {
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  font-family: $main-font;
  text-transform: uppercase;
  color: $black;
}

.big-text--1 {
  line-height: 37px;
}

.big-text--2 {
  line-height: 24px;
}
