.contacts {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts__wrapper {
  display: flex;
  line-height: 20px;
  padding-top: 13px;
  padding-bottom: 9px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding-top: 37px;
    padding-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 26%;
    margin: 0 760px 0 110px;
    padding-top: 47px;
    padding-right: 80px;
    padding-bottom: 39px;
  }
}

.contacts__wrapper--secondary {
  background-color: $extra-color-1;
}

.contacts__intro {
  font-size: 16px;
  margin-right: 17px;
  font-family: $main-font;
  color: $dark-color-4;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-right: 280px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 96px;
    line-height: 25px;
  }
}

.contacts__adress {
  line-height: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 8px;
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__town {
  display: inline-block;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
  }
}

.contacts__map {
  width: 320px;
  height: 362px;
  object-fit: cover;
}
