.container-desktop {
  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.container-desktop--wider {
  @media (min-width: $desktop-width) {
    padding-left: 76px;
    padding-right: 98px;
  }
}
