.examle {
  padding: 1px 20px 20px 21px;
  background-color: $extra-color-2;
}

.examle__title {
  @include title();
}

.examle__wrapper {
  text-align: center;
}

.examle__number--1 {
  padding: 14px;
  text-align: center;
  border: 1px solid $border-color-2;
  border-radius: 3px;
  @include big-text($line-height: 24px);
}

.examle__item {
  padding-bottom: 15px;
}

.examle__item--1 {
  position: relative;
}

.examle__text--1 {
  position: absolute;
  top: 48px;
  left: 110px;
  padding: 0 15px 0;
  font-size: 12px;
  line-height: 12px;
  background-color: $extra-color-2;
}

.examle__item--2 {
  line-height: 20px;
  font-family: $main-font;
  text-transform: uppercase;
  color: $black;
}

.examle__number--2 {
  margin: 0;
}
