.extra-product {
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 3fr 2fr;
    margin-top: 0;
    padding: 10px 37px 28px 38px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 4fr 4fr 3fr;
    grid-template-rows: 1fr;
    padding: 12px 0 9px 0;
  }
}

.extra-product__name {
  margin-top: 13px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.extra-product__link {
  font-family: $main-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $dark-color-3;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.extra-product__info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;

    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/2;
    grid-template-columns: 3fr 1fr;
    justify-content: start;
  }
}

.extra-product__info-term {
  @media (min-width: $tablet-width) {
    justify-self: end;
    padding-right: 8px;
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
  }
}

.extra-product__info-description {
  @media (min-width: $tablet-width) {
    justify-self: end;
    margin-left: 0;

    @media (min-width: $desktop-width) {
      justify-self: start;
    }
  }
}

.extra-product__button {
  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: end;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-bottom: 7px;
  }
}
