.main-products__list {
  display: grid;
  margin: 0;
  padding: 0;
  padding-top: 17px;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 140px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 143px;
  }
}

.main-products__item {
  @include border($side: bottom, $color: $darker-extra-color-1);

  @media (min-width: $tablet-width) {
    border: none;
  }
}


.main-products__show-else {
  padding-top: 55px;
  padding-bottom: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr 1fr;
    justify-content: center;
    padding: 30px 37px 39px 38px;
    border: 2px solid $extra-color-1;
  }

  @media (min-width: $desktop-width) {
    padding: 0 36px 40px 36px;
  }
}

.main-products__title {
  margin-bottom: 0;
  padding: 9px 0 0;
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $dark-color-4;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: end;
    margin-top: 0;
    margin-bottom: 15px;
    padding: 0 40px 0;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 15px;
    margin-bottom: 0;
  }
}

.main-products__text {
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: start;
    padding: 10px 30px 10px;
    margin-top: 0;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 15px;
    padding: 10px 0 10px;
  }
}

.main-products__button {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: end;
    margin-top: 4px;
  }
}
