.page-footer {
  background-color: $extra-color-1;
}

.page-footer__wrapper {
  padding: 0 20px 0;
}

.page-footer__logo {
  padding: 21px 0 27px 0;
  text-align: center;
  border-bottom: 1px solid $border-color-4;
}

.page-footer__social {
  text-align: center;
  border-bottom: 1px solid $border-color-4;
}
