.page__body {
  width: 320px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  font-family: $extra-font;
  color: $dark-color-2;
  background-color: $white;
}
