.page-header {
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 3fr 5fr;
    padding-top: 22px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 3fr 2fr;
    padding-top: 51px;
  }
}

.page-header__logo {
  display: block;
  padding-top: 5px;
  padding-bottom: 24px;
}
