.page-main--primary {
  @include border();

  @media (min-width: $tablet-width) {
    @include border($color: transparent);
  }
}

.page-main--secondary {
  @include border();
}

.page-main__title {
  @include title($line-height: 36px);
}

.page-main__text {
  font-family: $main-font;
  color: $black;
  text-transform: uppercase;
}

.page-main__advantages {
  margin-bottom: 20px;
}

.page-main__example {
  @media (min-width: $tablet-width) {
    @include border();
  }
}
