.page-footer {
  background-color: $extra-color-1;
}

.page-footer__wrapper {
  padding: 0 20px 0;
}

.page-footer__logo {
  padding: 21px 0 27px 0;
  text-align: center;

  @include border($side: bottom);
}

.page-footer__social {
  text-align: center;

  @include border($side: bottom);
}
