.range {
  position: relative;
}

.range__scale {
  height: 14px;
  background-color: $white;
  border: 1px solid $border-color-2;
  border-radius: 6px;
}

.range__bar {
  width: 42%;
  height: 6px;
  background: $theme-color;
  border-radius: 6px;
  margin-top: 3px;
  margin-left: 6px;
}

.range__toggle {
  position: absolute;
  width: 34px;
  height: 34px;
  margin-top: -23px;
  padding: 0;
  display: none;
  font-size: 30px;
  line-height: 0;
  color: $theme-color;
  background-color: $white;
  border: 1px solid $border-color-2;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 $border-color-2;
  cursor: pointer;
}
