.site-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    text-align: unset;
  }
}

.site-list__item {
  position: relative;
  padding-top: 22px;
  padding-bottom: 23px;
}

.site-list__link {
  color: $black;
}

.site-list__link--primary {
  @media (min-width: $desktop-width) {
    color: $white;
  }
}
