.social__list {
  list-style: none;
}

.social__button {
  background-color: tomato;
}

.social__button--vkontakte {
  width: 23px;
  height: 16px;
}

.social__button--instagram {
  width: 16px;
  height: 16px;
}

.social__button--facebook {
  width: 22px;
  height: 22px;
}
